.App {
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
}

.statusTable{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.statusTable > div {
  border: solid 1px black;
  padding: 3px;
  margin: 3px -1px;
}

.statusTable div div {
  width: 100%;
}

.statusTable{
  display: flex;
  flex-direction: row;
}


